*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: good;
    src: url(../font/good.ttf);
}
.pomodoro-heading{
    font-family: 'good';
    color: white;
    margin-top: 2%;
}
.heading-container{
    display: flex;
    justify-content: center;
}
.main-app-container{
    background-color: rgb(186, 73, 73);
    height: 100vh;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}